<script type='text/javascript'>
  const baseUrl = '{{- .Site.BaseURL -}}{{- .Site.LanguagePrefix -}}';
  const codeCopyBefore = '{{- i18n "code_copy_before" -}}';
  const codeCopyAfter = '{{- i18n "code_copy_after" -}}';
  const svgDownloadLabel = '{{- i18n "download_as_svg" -}}';
  const helperLoadingLabel = '{{- i18n "helper_loading" -}}';
  const searchNoResults = '{{- i18n "search_no_results" -}}';
  const introNextLabel = '{{- i18n "intro_nextlabel" -}}';
  const introPrevLabel = '{{- i18n "intro_prevlabel" -}}';
  const introSkipLabel = '{{- i18n "intro_skiplabel" -}}';
  const introDoneLabel = '{{- i18n "intro_donelabel" -}}';
  const printLabel = '{{- i18n "9_print_wording" -}}';
  const qrCodeLabel = '{{- i18n "10_qrcode_wording" -}}';
  const naCommonLabel = '{{- i18n "na_common" -}}';
</script>
<!-- JS Modules includes -->
{{- $jsModulesFiles := slice -}}
{{- with .Site.Data.themeParams.includes.jsModules -}}
  {{- range . -}}{{- $jsModulesFiles = $jsModulesFiles | append . -}}{{- end -}}
{{- end -}}
{{- with .Site.Params.includes.jsModules -}}
  {{- range . -}}{{- $jsModulesFiles = $jsModulesFiles | append . -}}{{- end -}}
{{- end -}}
{{- with .Page.Params.includes.jsModules -}}
  {{- range . -}}{{- $jsModulesFiles = $jsModulesFiles | append . -}}{{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Data.themeParams.includes.shortcodes.jsModules -}}
  {{- with $.Page.HasShortcode $key -}}
    {{- range $value -}}
      {{- $jsModulesFiles = $jsModulesFiles | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Params.includes.shortcodes.jsModules -}}
  {{- with $.Page.HasShortcode $key -}}
    {{- range $value -}}
      {{- $jsModulesFiles = $jsModulesFiles | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Data.themeParams.includes.fencedcodes.jsModules -}}
  {{- with len (findRE (printf "%s%s" "[[:space:]]*(```)?" $key) $.Page.RawContent) -}}
    {{- range $value -}}
      {{- $jsModulesFiles = $jsModulesFiles | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Params.includes.fencedcodes.jsModules -}}
  {{- with len (findRE (printf "%s%s" "[[:space:]]*(```)?" $key) $.Page.RawContent) -}}
    {{- range $value -}}
      {{- $jsModulesFiles = $jsModulesFiles | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<!-- Highcharts assets includes -->
{{- range $.Page.Scratch.Get "highchartsAssets" -}}
  {{- $jsModulesFiles = $jsModulesFiles | append . -}}
{{- end -}}
{{- if gt (len $jsModulesFiles) 0 -}}
  {{- template "includeJs" dict "this" $jsModulesFiles "context" $ "type" "module" -}}
{{- end -}}
<!-- Highcharts scripts includes -->
{{- range $.Page.Scratch.Get "highchartsContent" -}}
  {{- template "includeJsScript" dict "this" . -}}
{{- end -}}
<!-- JS includes -->
{{- $jsFiles := slice -}}
{{- with .Site.Data.themeParams.includes.js -}}
  {{- range . -}}{{- $jsFiles = $jsFiles | append . -}}{{- end -}}
{{- end -}}
{{- with .Site.Params.includes.js -}}
  {{- range . -}}{{- $jsFiles = $jsFiles | append . -}}{{- end -}}
{{- end -}}
{{- with .Page.Params.includes.js -}}
  {{- range . -}}{{- $jsFiles = $jsFiles | append . -}}{{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Data.themeParams.includes.shortcodes.js -}}
  {{- with $.Page.HasShortcode $key -}}
    {{- range $value -}}{{- $jsFiles = $jsFiles | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Params.includes.shortcodes.js -}}
  {{- with $.Page.HasShortcode $key -}}
    {{- range $value -}}{{- $jsFiles = $jsFiles | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Data.themeParams.includes.fencedcodes.js -}}
  {{- with len (findRE (printf "%s%s" "[[:space:]]*(```)?" $key) $.Page.RawContent) -}}
    {{- range $value -}}{{- $jsFiles = $jsFiles | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Params.includes.fencedcodes.js -}}
  {{- with len (findRE (printf "%s%s" "[[:space:]]*(```)?" $key) $.Page.RawContent) -}}
    {{- range $value -}}{{- $jsFiles = $jsFiles | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $jsFiles) 0 -}}
  {{- template "includeJs" dict "this" $jsFiles "context" $ "type" "text/javascript" -}}
{{- end -}}
<!-- TEMPLATES -->
{{- define "includeJs" -}}
  {{- $context := .context -}}
  {{- $type := .type -}}
  {{- $scratch := newScratch -}}
  {{- range .this | uniq -}}
    {{- if in . ".min." -}}
      {{- $scratch.Set "script" (resources.Get .) -}}
    {{- else -}}
      {{- $scratch.Set "script" (resources.Get . | resources.ExecuteAsTemplate . $context | minify) -}}
    {{- end -}}
    <script
      type="{{- $type -}}"
      src="{{- ($scratch.Get "script").RelPermalink | safeURL -}}"
    ></script>
  {{- end -}}
{{- end -}}
{{- define "includeJsScript" -}}
  <script type='module'>
    {{- .this | safeJS -}}
  </script>
{{- end -}}
