<!-- SASS includes -->
{{- $sassFiles := slice -}}
{{- with .Site.Data.themeParams.includes.sass -}}
  {{- range . -}}{{- $sassFiles = $sassFiles | append . -}}{{- end -}}
{{- end -}}
{{- with .Site.Params.includes.sass -}}
  {{- range . -}}{{- $sassFiles = $sassFiles | append . -}}{{- end -}}
{{- end -}}
{{- with .Page.Params.includes.sass -}}
  {{- range . -}}{{- $sassFiles = $sassFiles | append . -}}{{- end -}}
{{- end -}}
{{- if gt (len $sassFiles) 0 -}}
  {{- template "includeSass" dict "this" $sassFiles -}}
{{- end -}}
<!-- CSS includes -->
{{- $cssFiles := slice -}}
{{- with .Site.Data.themeParams.includes.css -}}
  {{- range . -}}{{- $cssFiles = $cssFiles | append . -}}{{- end -}}
{{- end -}}
{{- with .Site.Params.includes.css -}}
  {{- range . -}}{{- $cssFiles = $cssFiles | append . -}}{{- end -}}
{{- end -}}
{{- with .Page.Params.includes.css -}}
  {{- range . -}}{{- $cssFiles = $cssFiles | append . -}}{{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Data.themeParams.includes.shortcodes.css -}}
  {{- with $.Page.HasShortcode $key -}}
    {{- range $value -}}{{- $cssFiles = $cssFiles | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Params.includes.shortcodes.css -}}
  {{- with $.Page.HasShortcode $key -}}
    {{- range $value -}}{{- $cssFiles = $cssFiles | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Data.themeParams.includes.fencedcodes.css -}}
  {{- with len (findRE (printf "%s%s" "[[:space:]]*(```)?" $key) $.Page.RawContent) -}}
    {{- range $value -}}{{- $cssFiles = $cssFiles | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- range $key, $value := .Site.Params.includes.fencedcodes.css -}}
  {{- with len (findRE (printf "%s%s" "[[:space:]]*(```)?" $key) $.Page.RawContent) -}}
    {{- range $value -}}{{- $cssFiles = $cssFiles | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $cssFiles) 0 -}}
  {{- template "includeCss" dict "this" $cssFiles -}}
{{- end -}}
<!-- TEMPLATES -->
{{- define "includeCss" -}}
  {{- $scratch := newScratch -}}
  {{- range .this | uniq -}}
    {{- if in . ".min." -}}
      {{- $scratch.Set "script" (resources.Get .) -}}
    {{- else -}}
      {{- $scratch.Set "script" (resources.Get . | minify) -}}
    {{- end -}}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{- ($scratch.Get "script").RelPermalink | safeURL -}}"
    />
  {{- end -}}
{{- end -}}
{{- define "includeSass" -}}
  {{- $filesArray := slice -}}
  {{- range .this | uniq -}}
    {{- $filesArray = $filesArray | append (resources.Get .) -}}
  {{- end -}}
  {{- $options := (dict "outputStyle" "compressed" "targetPath" "css/main.css") -}}
  {{- $cssFile := $filesArray | resources.Concat "sass/theme/bundle.sass" | resources.ToCSS $options -}}
  <link
    rel="stylesheet"
    rel="preload"
    type="text/css"
    href="{{- $cssFile.RelPermalink | safeURL -}}"
  />
{{- end -}}
