<div class="navbar-item">
  <a
    id="printButton{{- $.Scratch.Get "navbarExtendIdSuffix" -}}"
    class="button navbar-item-standard"
  >
    <span class="icon-text">{{- i18n "navbar_label_print" -}}</span>
    <span class="icon">
      <i class="fa-solid fa-print fa-lg"></i>
    </span>
  </a>
</div>
<div class="navbar-item">
  <a
    id="qrCodeButton{{- $.Scratch.Get "navbarExtendIdSuffix" -}}"
    class="button navbar-item-standard"
  >
    <span class="icon-text">{{- i18n "navbar_label_qrcode" -}}</span>
    <span class="icon">
      <i class="fa-solid fa-qrcode fa-lg"></i>
    </span>
  </a>
</div>
<div class="navbar-item">
  <a
    id="shortcutsInfo{{- $.Scratch.Get "navbarExtendIdSuffix" -}}"
    trigger="navbarShortcuts"
    class="button navbar-item-standard navbar-trigger"
    title="{{- i18n "navbarshortcuts_title" -}}"
  >
    <span class="icon-text">{{- i18n "navbar_label_shortcuts" -}}</span>
    <span class="icon">
      <i class="fa-solid fa-keyboard fa-lg"></i>
    </span>
  </a>
</div>
{{- range $taxonomyname, $taxonomy := .Site.Taxonomies -}}
  {{- $.Scratch.Add "taxonomyCount" (len $taxonomy) -}}
{{- end -}}
{{- if gt ($.Scratch.Get "taxonomyCount") 0 -}}
  <div class="navbar-item">
    {{- partial "theme/taxonomy-selector.html" . -}}
  </div>
{{- end -}}
{{- range $.Page.Translations -}}
  {{- if reflect.IsMap .Data.Terms -}}
    {{- $.Scratch.Add "taxonomyTranslatedCount" (len .Data.Terms) -}}
  {{- end -}}
{{- end -}}
{{- if and (.IsTranslated) (ne ($.Scratch.Get "taxonomyTranslatedCount") 0) -}}
  <div class="navbar-item">
    {{- partial "theme/lang-selector.html" . -}}
  </div>
{{- end -}}
{{- with $.Site.Params.navbar.versions -}}
  <div class="navbar-item">
    {{- partial "theme/version-selector.html" $ -}}
  </div>
{{- end -}}
<div class="navbar-item">
  <a
    id="siteInfo{{- $.Scratch.Get "navbarExtendIdSuffix" -}}"
    trigger="navbarInfo"
    class="button navbar-item-standard navbar-trigger"
    title="{{- i18n "navbarinfo_title" -}}"
  >
    <span class="icon-text">{{- i18n "navbar_label_info" -}}</span>
    <span class="icon">
      <i class="fa-solid fa-circle-question fa-lg"></i>
    </span>
  </a>
</div>
