<div id="navbarInfo" class="is-hidden modal-container">
  <div class="modal-content-box modal-text-box">
    <div class="card modal-title is-radiusless">
      <div class="card-header">
        <p class="card-header-title is-marginless">
          {{- i18n "navbarinfo_title" -}}
        </p>
      </div>
    </div>
    <div class="modal-content-container">
      <div class="modal-content-block is-block">
        {{- partial "custom/custom-info.html" . -}}
      </div>
    </div>
  </div>
</div>
