{{- define "sidebar-menu" }}
  {{- $parent := .parent }}
  {{- $pages := .pages }}
  <ul class="menu-list">
    {{- range $pages }}
      {{- if .IsPage }}
        <li>
          <a href="{{ .RelPermalink }}" class="{{ if $parent.IsAncestor . }}is-active{{ end }}">
            <span class="icon-text">
              <span class="icon"><i class="{{ .Params.titleIcon }}"></i></span>
              <span>{{ .LinkTitle }}</span>
            </span>
          </a>
        </li>
      {{- else if .IsSection }}
        <li>
          <a href="{{ .RelPermalink }}" class="{{ if $parent.IsAncestor . }}is-active{{ end }}">
            <span class="icon-text">
              <span class="icon"><i class="{{ .Params.titleIcon }}"></i></span>
              <span>{{ .LinkTitle }}</span>
            </span>
          </a>
          {{- if .Sections }}
            {{- template "sidebar-menu" (dict "parent" $parent "pages" .Sections) }}
          {{- end }}
          {{- if .Pages }}
            {{- template "sidebar-menu" (dict "parent" $parent "pages" .Pages) }}
          {{- end }}
        </li>
      {{- end }}
    {{- end }}
  </ul>
{{- end }}

{{- template "sidebar-menu" (dict "parent" . "pages" .Site.Home.Sections) }}
