<div
  id="sidebarContainer"
  class="column is-narrow paddingless marginless"
>
  <div id="sidebarWrapper">
    <div id="sidebar" class="marginless">
      <aside class="menu paddingless marginless">
        <ul class="menu-list marginless paddingless">
          {{- partial "theme/sidebar-content.html" . -}}
        </ul>
      </aside>
    </div>
    <div id="sidebarCollapsible" class="marginless">
      <div class="card is-uncollapse-action">
        <div
          id="sidebarUncollapse"
          class="card-header is-single-link"
          title="{{- i18n "5_togglesidebar_wording" -}}"
        >
          <a class="card-header-title is-flex has-text-centered is-clipped">
            <i class="fa-solid fa-angles-right fa-lg fa-fw is-align-content-center"></i>
          </a>
        </div>
      </div>
      <div class="card is-collapse-action">
        <div
          id="sidebarCollapse"
          class="card-header is-single-link"
          title="{{- i18n "5_togglesidebar_wording" -}}"
        >
          <a class="card-header-title is-flex has-text-centered is-clipped">
            <i class="fa-solid fa-angles-left fa-lg fa-fw is-align-content-center"></i>
            <p class="is-clipped">{{- i18n "sidebar_collapse" -}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="sidebarMobileWrapper" class="column is-narrow is-hidden-desktop"></div>
