# Common Hugo files to ignore
/public/
/resources/_gen/
exampleSite/public
exampleSite/resources/_gen/
.hugo_build.lock

# Ignore npm files
node_modules/

# Cypress files to ignore
/cypress/downloads/
debug.log

# Common files
workflow.log

# Htmltest files
/tmp/
