[module]
  [[module.mounts]]
    source = "archetypes"
    target = "archetypes"
  [[module.mounts]]
    source = "assets"
    target = "assets"
  [[module.mounts]]
    source = "data"
    target = "data"
  [[module.mounts]]
    source = "i18n"
    target = "i18n"
  [[module.mounts]]
    source = "layouts"
    target = "layouts"
  [[module.mounts]]
    source = "static"
    target = "static"
  [[module.imports]]
    path = "github.com/jgthms/bulma"
    version = "1.0.4"
  [[module.imports.mounts]]
    source = "."
    target = "assets/scss"
  [[module.imports.mounts]]
    source = "sass"
    target = "assets/scss/bulma/sass"
