%sidebar
  color: findColorInvert($sidebar-background)
  padding: $theme-gap-medium-size
  width: $sidebar-width
  .is-fs-expandable-icon,
  .is-uncollapse-action
    display: none
    .card-header-title
      border-radius: $theme-border-radius !important
  .card
    color: findColorInvert($sidebar-background)
    +static-size-height($sidebar-entry-height)
    width: 100%
    .card-header
      color: findColorInvert($sidebar-background)
      border-radius: $theme-border-radius
      transition: width 0.2s ease
      align-items: center
      text-align: center
      .card-header-title
        color: findColorInvert($sidebar-background)
        +static-size-height($sidebar-entry-height)
        padding: $theme-gap-medium-size 0
        white-space: nowrap
        overflow: hidden
        border-radius: 0
        max-width: 100%
        display: flex
        flex: auto
        i
          +static-size-width(calc((#{$sidebar-width} / 10) + (2 * #{$theme-gap-small-size})))
          line-height: $theme-icon-line-height
        p
          text-overflow: ellipsis
          white-space: nowrap
          text-align: left
          overflow: hidden
      .card-header-icon
        @extend %unselectable
        +static-size-width(calc(#{$sidebar-width} / 10))
        color: findColorInvert($sidebar-background)
        +static-size-height($sidebar-entry-height)
        border-radius: 0
        display: flex
    &.is-sidebar-active
      .card-header
        background: smooth-color(findColorInvert($sidebar-background), 25)
        .card-header-title,
        .card-header-icon
          color: $sidebar-background
    .is-sidebar-disable
      .card-header-title
        color: smooth-color($sidebar-background, 35)
%sidebar-effects
  @media (hover: hover)
    .card:not(.is-sidebar-active)
      .card-header
        &:not(.is-sidebar-disable):hover
          background: smooth-color($sidebar-background, 15)
  .is-icon-expandable
    .icon
      &:after
        font: var(--fa-font-solid)
        content: "\f107"
      &:hover:after
        content: "\f103"
    &.is-icon-expanded
      .icon
        &:after,
        &:hover:after
          transform: rotate(180deg)
%navbar-item-standard
  padding: $theme-gap-small-size $theme-gap-medium-size
  background-color: transparent !important
  border-radius: $theme-gap-small-size
  color: findColorInvert($theme-color)
  @extend %navbar-item-generic
  min-width: $control-height
  @extend %navbar-item-hover
  flex-wrap: nowrap
  display: flex
  &:focus
    box-shadow: unset
    border: unset
  .icon-text
    +font-family(lato)
    font-weight: 700
    &:not(:last-child)
     padding-right: $theme-gap-small-size
  .icon
    margin: unset
%navbar-item-generic
  transition: all 0.2s ease
  box-shadow: unset
  border: unset
%navbar-item-hover
  &:hover:not([disabled])
    background-color: smooth-color($theme-color, 40) !important
    color: findColorInvert(smooth-color($theme-color, 40))
    box-shadow: unset
    border: unset
    &::placeholder
      color: smooth-color(findColorInvert(smooth-color($theme-color, 40)), 30)
      font-style: italic
%navbar-content-full-border
  box-shadow: 0 0 0 $theme-gap-small-size smooth-color($theme-color, 50)
%navbar-content-partial-border
  box-shadow: -$theme-gap-small-half-size $theme-gap-small-half-size 0 $theme-gap-small-half-size smooth-color($theme-color, 50), $theme-gap-small-half-size $theme-gap-small-half-size 0 $theme-gap-small-half-size smooth-color($theme-color, 50)
%search-content-colors
  border-color: $content-background
  background: $content-background
  color: $content-writing-color
%unselectable
  user-select: none
%disable
  pointer-events: none
%clean
  @extend %unselectable
  text-decoration: none
  outline: none
%transparent
  opacity: 0
%opaque
  opacity: 1
%sticky
  position: sticky
  top: 0
%close
  right: calc((#{$navbar-height} / 2) - (#{$theme-icon-size} / 2))
  top: calc((#{$navbar-height} / 2) - (#{$theme-icon-size} / 2))
  +static-size-height($theme-icon-size)
  +static-size-width($theme-icon-size)
  transition: all 0.4s ease
  display: inline-block
  border-radius: 100%
  position: absolute
  background: red
  &:before,
  &:after
    border-radius: $theme-gap-small-size
    height: $theme-gap-small-size
    position: absolute
    background: white
    margin: auto
    content: ''
    width: 75%
    bottom: 0
    right: 0
    left: 0
    top: 0
  &:before
    transform-origin: center center
    transition: all 0.2s linear
    transform: rotate(45deg)
    transition-delay: 0.1s
  &:after
    transform-origin: center center
    transition: all 0.2s linear
    transform: rotate(-45deg)
    transition-delay: 0s
  &:hover
    box-shadow: 0 0 0 $theme-border-width white
  &:hover:before
    transform: rotate(225deg)
    transition-delay: 0s
  &:hover:after
    transform: rotate(135deg)
    transition-delay: 0.1s
%toc-link-effect
  &:after
    transition: transform 0.3s, opacity 0.2s
    margin: 0 $theme-gap-medium-size
    transform: translateX(0.5rem)
    font: var(--fa-font-solid)
    display: inline-block
    content: "\f060"
    opacity: 0
  &:hover:after
    transform: translateX(0)
    opacity: 1
%pretty-link-effect
  background-image: linear-gradient(currentColor, currentColor)
  padding-right: $theme-gap-size !important
  color: $content-link-color !important
  text-decoration: none !important
  background-position: 0% 100%
  background-repeat: no-repeat
  transition: all 0.2s ease
  background-size: 0% 1px
  padding-bottom: 1px
  position: relative
  &:after
    font: var(--fa-font-solid)
    font-size: calc(#{$theme-gap-large-size} / 2)
    bottom: calc(#{$theme-gap-large-size} / 2)
    margin-left: $theme-gap-small-half-size
    color: $content-link-color
    font-style: normal
    position: absolute
    content: '\f35d'
  &:hover
    color: $content-link-color
    background-size: 100% 1px
%itext-link-effect
  color: $content-link-color
  justify-content: center
  align-content: center
  display: inline-flex
  align-items: center
  text-align: center
  position: relative
  flex-wrap: nowrap
  div
    padding: $theme-gap-medium-size
    justify-content: center
    align-content: center
    align-items: center
    position: relative
    flex-wrap: nowrap
    display: flex
    i
      padding: 0 $theme-gap-medium-size
    p
      transition: flex 0.4s ease-out
      white-space: nowrap
      overflow: hidden
      flex-basis: 0
    &:before,
    &:after
      transition: left 0.4s ease, right 0.4s ease
      background: $content-link-color
      height: $theme-border-width
      position: absolute
      content: ''
      right: 50%
      left: 50%
    &:before
      top: 0
    &:after
      bottom: 0
  &:before,
  &:after
    transition: top 0.4s ease, bottom 0.4s ease
    background: $content-link-color
    width: $theme-border-width
    position: absolute
    content: ''
    bottom: 50%
    top: 50%
  &:before
    left: 0
  &:after
    right: 0
  @media (hover: hover)
    &:hover
      color: $content-link-color
      &:before,
      &:after
        bottom: 0
        top: 0
      div
        &:before,
        &:after
          right: 0
          left: 0
        p
          flex-basis: 100%
  @media (hover: none)
    color: $content-link-color
    &:before,
    &:after
      bottom: 0
      top: 0
    div
      &:before,
      &:after
        right: 0
        left: 0
      p
        flex-basis: 100%
%action-button
  font-size: $theme-action-button-size
  height: $theme-gap-extra-large-size
  width: $theme-gap-extra-large-size
  color: $content-writing-color
  justify-content: center
  align-items: center
  text-align: center
  cursor: pointer
  display: flex
  &:hover
    color: forestgreen
