<div class="column marginless paddingless" id="contentContainer">
  <div class="content" id="content">
    {{- with .LinkTitle -}}
      {{- partial "theme/content-title.html" (dict "titleId" "contentTitle" "title" .) -}}
    {{- end -}}
    {{- range .Data.Pages -}}
      {{- $.Scratch.Add "taxonomyInPagesCount" (len .Data.Pages) -}}
    {{- end -}}
    {{- if eq ($.Scratch.Get "taxonomyInPagesCount") 0 -}}
      <div class="notification is-warning has-text-centered">
        <p class="has-text-weight-bold">{{- i18n "no_data" -}}</p>
      </div>
    {{- else -}}
      {{- $.Scratch.Set "taxonomy" .Data.Plural -}}
      <div class="tabs-container">
        <nav class="tabs-triggers has-text-centered">
          <ul
            class="is-flex is-flex-wrap-wrap is-flex-direction-row is-justify-content-center"
          >
            {{- range $key, $value := .Data.Terms.Alphabetical -}}
              <li
                class="is-flex is-justify-content-center is-align-items-center is-flex-shrink-1 is-flex-grow-1"
              >
                {{- $tabsTriggerClasses := slice "tabs-trigger" "title" "is-4" -}}
                {{- with (eq $key 0) -}}
                  {{- $tabsTriggerClasses = $tabsTriggerClasses | append "is-active" -}}
                {{- end -}}
                <a
                  id="tabs-{{- .Term -}}"
                  class="{{- delimit $tabsTriggerClasses " " -}}"
                  >{{- humanize .Term -}}</a
                >
              </li>
            {{- end -}}
          </ul>
        </nav>
        <div class="tabs-results">
          {{- range $key, $value := .Data.Terms.Alphabetical -}}
            {{- $tabsResultsClasses := slice "tabs-results-list" -}}
            {{- with (eq $key 0) -}}
              {{- $tabsResultsClasses = $tabsResultsClasses | append "is-active" -}}
            {{- end -}}
            <div
              id="tabs-{{- .Term -}}-results"
              class="{{- delimit $tabsResultsClasses " " -}}"
            >
              <h4
                class="tabs-title title is-flex is-align-items-center marginless is-4"
              >
                <a
                  href="{{- .Page.Permalink | safeURL -}}"
                  class="is-pretty-link"
                  >{{- humanize .Term -}}</a
                >
              </h4>
              <ul>
                {{- range (index $.Site.Taxonomies ($.Scratch.Get "taxonomy") .Term) -}}
                  <li>
                    <a
                      class="is-pretty-link"
                      href="{{- .Permalink | safeURL -}}"
                      >{{- .LinkTitle -}}</a
                    >
                  </li>
                {{- end -}}
              </ul>
            </div>
          {{- end -}}
        </div>
      </div>
    {{- end -}}
  </div>
</div>
