@use '../vars' as vars;
//
// Main
//
.banner {
  background-color: vars.$banner-background-color;
  border: 0.125rem solid vars.$banner-border-color;
  i {
    color: vars.$banner-border-color;
  }
}
