@use "../vars" as vars;
@use "mixins.scss" as mixins;
@use "../../bulma/sass/utilities/mixins.scss" as bulma_mixins;
//
// Main
//
#mainContainer {
  @include mixins.static-size-height(calc(100% - vars.$navbar-height));
  overflow-x: hidden;
  overflow-y: auto;
}
#contentContainer {
  background: vars.$content-background-color;
  color: vars.$content-color;
  word-break: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  &.has-toc {
    #content {
      @include mixins.static-size-width(calc(100% - vars.$toc-width - vars.$toc-collapsible-width));
    }
    &.is-toc-collapsed {
      #content {
        @include mixins.static-size-width(calc(100% - vars.$toc-collapsible-width));
      }
      #tocContainer {
        display: none !important;
      }
      #tocCollapsible {
        i {
          transform: rotate(180deg);
        }
      }
    }
    &:not(.is-toc-collapsed):not(.is-toc-uncollapsed) {
      @include bulma_mixins.touch {
        #content {
          @include mixins.static-size-width(calc(100% - vars.$toc-collapsible-width));
        }
        #tocContainer {
          display: none;
        }
        #tocCollapsible {
          i {
            transform: rotate(180deg);
          }
        }
      }
    }
    @include bulma_mixins.until-widescreen {
      #content {
        @include mixins.static-size-width(calc(100% - #{vars.$toc-collapsible-width}));
      }
    }
  }
  #contentTitle {
    word-break: break-word;
  }
  #contentHomeTitle {
    @include mixins.font-family(permanent-marker);
  }
  #content,
  #contentHome {
    @include mixins.static-size-width(100%);
    position: relative;
    @include bulma_mixins.mobile {
      padding: vars.$content-padding
    }
    @include bulma_mixins.tablet {
      padding: vars.$content-padding calc(4 * vars.$content-padding);
    }
    &:after {
      content: '';
      height: vars.$content-padding;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
}