@use "../vars" as vars;
@use "extends.scss";
@use "functions.scss" as functions;
@use "mixins.scss" as mixins;
@use "../../bulma/sass/utilities" as bulma_utilities;
@use "../../bulma/sass/utilities/mixins.scss" as bulma_mixins;
//
// Global theme styles
//
// Font styles
//
@include mixins.font-face('lato', '../fonts/lato/lato-v23-latin-regular', 400, normal, woff2);
@include mixins.font-face('lato', '../fonts/lato/lato-v23-latin-italic', 400, italic, woff2);
@include mixins.font-face('lato', '../fonts/lato/lato-v23-latin-700', 700, normal, woff2);
@include mixins.font-face('lato', '../fonts/lato/lato-v23-latin-700italic', 700, italic, woff2);
@include mixins.font-face('lato', '../fonts/lato/lato-v23-latin-900', 900, normal, woff2);
@include mixins.font-face('lato', '../fonts/lato/lato-v23-latin-900italic', 900, italic, woff2);
@include mixins.font-face('oswald', '../fonts/oswald/oswald-v49-latin-700', 700, normal, woff2);
@include mixins.font-face('roboto-mono', '../fonts/roboto-mono/roboto-mono-v22-latin-700', 700, normal, woff2);
@include mixins.font-face('roboto-mono', '../fonts/roboto-mono/roboto-mono-v22-latin-regular', 400, normal, woff2);
@include mixins.font-face('permanent-marker', '../fonts/permanent-marker/permanent-marker-v16-latin-regular', 400, normal, woff2);
//
body {
  @include mixins.responsive-size(font-size, vars.$content-font-size, 3px);
  @include mixins.static-size-height(100vh);
  @include mixins.static-size-width(100vw);
  @include mixins.font-family(lato);
  flex-flow: column;
  display: flex;
}
section {
  @include mixins.static-size-height(100%);
  @include mixins.static-size-width(100%);
}
html {
  overflow: hidden !important;
  @include mixins.static-size-width(100%);
}
#unsupportedBrowser {
  @include mixins.static-size-height(100%);
  @include mixins.static-size-width(100%);
  flex-direction: column;
  align-items: center;
  background: black;
  position: fixed;
  display: table;
  z-index: 100;
  color: white;
  .is-compatibility-alert {
    vertical-align: middle;
    word-break: break-word;
    display: table-cell;
    height: max-content;
    width: max-content;
    text-align: center;
    div {
      border: solid vars.$theme-gap-small-size bulma_utilities.$grey-darker;
      padding: vars.$theme-gap-medium-size;
      h2 {
        font-size: x-large;
        color: white;
      }
    }
  }
}
.is-sticky {
  @extend %sticky;
}
.is-disabled {
  @extend %disable;
}
.is-close {
  @extend %close;
}
.is-pretty-link {
  @extend %pretty-link-effect;
}
.is-itext-link {
  @extend %itext-link-effect;
}
.is-transparent {
  @extend %transparent;
}
.is-opaque {
  @extend %opaque;
}
.is-action-button {
  @extend %action-button;
}
.message {
  box-shadow: vars.$content-box-shadow;
}
.is-hover-hidden {
  @media (hover: none) {
    display: none !important;
  }
}
.has-line-break {
  white-space: pre-wrap;
}
.is-transition-disabled {
  transition: none !important;
}
.is-fixed {
  position: fixed;
}
.is-scroll-smooth {
  scroll-behavior: smooth;
}
.is-modal {
  cursor: zoom-in;
}
.is-enforced-hidden {
  display: none !important;
}
kbd {
  box-shadow: inset 0 0.1rem 0.2rem functions.tint(bulma_utilities.$grey-light, 80), inset 0 -0.1rem 0.2rem functions.tint(bulma_utilities.$grey-light, 20);
  background: linear-gradient(functions.tint(bulma_utilities.$grey-light, 20), functions.tint(bulma_utilities.$grey-light, 80));
  padding: vars.$theme-gap-small-size vars.$theme-gap-medium-size;
  border-radius: vars.$theme-border-radius;
  border: 1px solid bulma_utilities.$grey-light;
  @extend %unselectable;
  color: bulma_utilities.$grey-dark;
}
h1 {
  @include mixins.responsive-size(font-size, vars.$theme-h1-font-size, 3px);
}
h2 {
  @include mixins.responsive-size(font-size, vars.$theme-h2-font-size, 3px);
}
h3 {
  @include mixins.responsive-size(font-size, vars.$theme-h3-font-size, 3px);
}
h4 {
  @include mixins.responsive-size(font-size, vars.$theme-h4-font-size, 3px);
}
h5 {
  @include mixins.responsive-size(font-size, vars.$theme-h5-font-size, 3px);
}
h6 {
  @include mixins.responsive-size(font-size, vars.$theme-h6-font-size, 3px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: vars.$theme-gap-large-size 0;
  color: vars.$content-writing-color;
  align-content: center;
  @include mixins.font-family(oswald);
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 700;
  display: flex;
  padding: 0;
  + hr {
    margin-top: -#{vars.$theme-gap-large-size};
  }
  .anchor {
    transition: transform 0.3s, opacity 0.2s, color 0.2s;
    color: functions.smooth-color(vars.$content-writing-color, 50);
    transform: translateX(vars.$theme-gap-medium-size);
    margin-left: vars.$theme-gap-small-size;
    font-weight: 700;
    opacity: 0;
    &:hover {
      color: vars.$content-link-color;
    }
    @media (hover: none) {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &:hover {
    .anchor {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
hr {
  background: linear-gradient(90deg, vars.$theme-color 0%, transparent 100%);
  border-radius: vars.$theme-border-radius;
  margin: vars.$theme-gap-large-size 0;
  height: vars.$theme-gap-small-size;
}
p,
dl,
ul,
ol {
  margin: vars.$content-item-margin;
}
li > ul,
li + ul,
li > ol,
li + ol {
  margin: 0;
}
ul,
ol,
dd {
  padding-left: vars.$content-list-padding;
}
ol {
  list-style-type: decimal;
}
ul,
ul ul ul ul {
  list-style-type: disc;
}
ul ul,
ul ul ul ul ul {
  list-style-type: circle;
}
ul ul ul,
ul ul ul ul ul ul {
  list-style-type: square;
}
strong,
dt {
  font-weight: 900;
}
.footnote-ref,
.footnote-backref {
  color: vars.$content-footnote-color;
  &:before {
    content: '[';
  }
  &:after {
    content: ']';
  }
}
input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}
.highlight {
  margin: vars.$content-item-margin;
  position: relative;
  pre {
    margin: 0;
  }
  > pre[style] {
    span[style] {
      display: inline !important;
    }
  }
  table {
    td:nth-child(1) {
      pre {
        position: relative;
        padding-right: 0;
        overflow: hidden;
        &:after {
          height: calc(100% - (2 * #{vars.$theme-gap-extra-large-size}));
          right: vars.$theme-gap-small-size;
          background: darkgrey;
          position: absolute;
          margin: auto;
          content: '';
          width: 1px;
          bottom: 0;
          top: 0;
        }
      }
    }
    td:nth-child(2) {
      pre {
        padding-left: 0;
      }
    }
  }
  pre {
    padding: vars.$theme-gap-extra-large-size;
    @include mixins.font-family(roboto-mono);
    background: black;
    code {
      color: white;
    }
    .copy-code {
      box-shadow: inset 0 0 vars.$theme-border-width vars.$theme-border-small-width black;
      position: absolute;
      background: white;
      right: 0;
      top: 0;
      &:after {
        box-shadow: inset 0 0 vars.$theme-border-width vars.$theme-border-small-width black;
        @include mixins.responsive-size(font-size, vars.$theme-font-medium-size, 3px);
        height: vars.$theme-gap-extra-large-size;
        right: vars.$theme-gap-extra-large-size;
        padding: vars.$theme-gap-medium-size;
        content: attr(title-after);
        @include mixins.font-family(roboto-mono);
        text-overflow: ellipsis;
        white-space: nowrap;
        transform: scale(0);
        align-items: center;
        max-width: inherit;
        position: absolute;
        background: white;
        overflow: hidden;
        color: darkgreen;
        display: inline;
        opacity: 0;
        top: 0;
      }
      &:not(:active):after {
        transition: transform 1.5s step-end;
        animation: copied 1.5s ease-in-out;
      }
      &:active:after {
        transition: transform 1.5s step-start;
        transform: scale(1);
      }
    }
  }
}
*:not(pre) {
  > code {
    box-shadow: 0 0 1px 0 functions.smooth-color(vars.$content-background, 50);
    background: functions.smooth-color(vars.$theme-color, 80);
    padding: 0 vars.$theme-border-width;
    color: vars.$content-code-color;
    @include mixins.font-family(roboto-mono);
    font-weight: 700;
    font-size: 90%;
  }
}
img {
  display: block;
  margin: auto;
}
blockquote {
  border-left: vars.$theme-gap-small-size solid vars.$content-blockquote-color;
  padding: vars.$theme-gap-medium-size vars.$theme-gap-large-size;
  background: functions.smooth-color(vars.$content-background, 10);
  position: relative;
}
table:not([style]) {
  margin: vars.$content-item-margin;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
  blockquote {
    background: functions.smooth-color(vars.$content-background, 10);
    blockquote {
      background: functions.smooth-color(vars.$content-background, 20);
    }
  }
  th {
    color: bulma_utilities.bulmaFindColorInvert(vars.$content-table-color);
    background: vars.$content-table-color;
  }
  th,
  td {
    border: 1px solid functions.smooth-color(vars.$content-table-color, 25);
    padding: vars.$theme-gap-medium-size vars.$theme-gap-large-size;
    vertical-align: middle;
    overflow: auto;
  }
  td {
    color: vars.$content-writing-color;
  }
  tbody {
    tr {
      &:nth-of-type(even) {
        background: vars.$content-background;
      }
      &:nth-of-type(odd) {
        background: functions.smooth-color(vars.$content-background, 10);
      }
    }
  }
}
.footnotes {
  font-size: 80% !important;
  hr {
    background: vars.$content-footnote-color;
    border-radius: 0;
  }
  p {
    margin: 0;
  }
}