//
// Main
//
.mermaid-wrapper {
  max-width: 100%;
  display: block;
  &.is-loading {
    .mermaid-container {
      > * {
        display: none;
      }
    }
  }
}
pre.mermaid {
  display: none;
}
