@use "../vars" as vars;
@use "mixins.scss" as mixins;
@use "functions.scss" as functions;
@use "../../bulma/sass/utilities" as bulma_utilities;
@use "../../bulma/sass/utilities/mixins.scss" as bulma_mixins;
//
// Variables
//
$navbar-border-radius: 0.75rem;
$navbar-logo-padding: 0.25rem 0.5rem;
$navbar-entry-height: vars.$navbar-height - (2 * vars.$navbar-padding);
//
// Mixins
//
@mixin navbar-content-effects-hidden($origin) {
  opacity: 0;
  transform: scale(0);
  transform-origin: $origin;
  transition: all 0.2s ease;
}
@mixin navbar-content-effects-visible($origin) {
  opacity: 1;
  transform: scale(1);
  transform-origin: $origin;
  transition: 0.3s cubic-bezier(.4,.2,.5,1.4);
}
//
// Main
//
#navbar {
  background: linear-gradient(vars.$theme-color, functions.smooth-color(vars.$theme-color, 20));
  z-index: unset;
  #navbarItemsContainer {
    @include mixins.static-size-width(100%);
  }
  #globalLogoContainer {
    height: fit-content;
    padding: vars.$navbar-padding;
    #globalLogo {
      @include mixins.static-size-height($navbar-entry-height);
      @include mixins.static-size-width(vars.$sidebar-width - (2 * vars.$navbar-padding));
      border-radius: $navbar-border-radius;
      img {
        padding: $navbar-logo-padding;
      }
      @include bulma_mixins.touch {
        display: none;
      }
    }
    #globalTouchLogo {
      display: none;
      @include bulma_mixins.touch {
        @include mixins.static-size-height($navbar-entry-height);
        @include mixins.static-size-width(calc(vars.$sidebar-collapsed-width - (2 * vars.$navbar-padding)));
        border-radius: $navbar-border-radius;
        img {
          padding: $navbar-logo-padding;
        }
      }
    }
  }
  #navbarItems {
    width: 100%;
  }
  #navbarItemsEnd > .navbar-item {
    padding-left: 0;
  }
  #navbarExtend {
    #navbarExtendWrapper {
      @include mixins.static-size-height(100%);
      position: relative;
      z-index: 30;
      &.is-hovered,
      &:hover {
        #navbarExtendItemsContainer {
          @include navbar-content-effects-visible(100% vars.$navbar-padding);
        }
      }
    }
    #navbarExtendItemsContainer {
      @include navbar-content-effects-hidden(100% vars.$navbar-padding);
      padding: vars.$navbar-padding 0 0 0;
      position: absolute;
      right: -#{vars.$navbar-padding};
      top: 100%;
    }
    #navbarExtendItemsWrapper {
      background: linear-gradient(to top, vars.$theme-color, functions.smooth-color(vars.$theme-color, 20));
      border: 0.25rem solid functions.smooth-color(vars.$theme-color, 20);
      .dropdown-content {
        border-top: 0.25rem solid functions.smooth-color(vars.$theme-color, 20);
      }
    }
  }
  .navbar-item {
    padding: vars.$navbar-padding;
  }
  .navbar-item-standard {
    @include mixins.static-size-height($navbar-entry-height);
    background-color: transparent !important;
    border: unset;
    border-radius: $navbar-border-radius;
    box-shadow: unset;
    color: bulma_utilities.bulmaFindColorInvert(vars.$theme-color);
    padding: 0 0.5rem;
    transition: all 0.2s ease;
    &:hover:not([disabled]) {
      background-color: functions.smooth-color(vars.$theme-color, 40) !important;
      color: bulma_utilities.bulmaFindColorInvert(functions.smooth-color(vars.$theme-color, 40));
    }
    .icon-text {
      font-weight: bold;
      &:not(:last-child) {
        padding-right: 0.25rem;
      }
    }
  }
  .navbar-item {
    .dropdown {
      @include mixins.static-size-height(100%);
      &.is-hovered,
      &:hover {
        .dropdown-menu {
          @include navbar-content-effects-visible(100% vars.$navbar-padding);
        }
      }
      .dropdown-menu {
        @include navbar-content-effects-hidden(100% vars.$navbar-padding);
        display: block;
        padding: vars.$navbar-padding 0 0 0;
      }
      .dropdown-content {
        border-bottom: 0.25rem solid functions.smooth-color(vars.$theme-color, 20);
        border-left: 0.25rem solid functions.smooth-color(vars.$theme-color, 20);
        border-radius: 0;
        border-right: 0.25rem solid functions.smooth-color(vars.$theme-color, 20);
        .dropdown-item {
          font-size: vars.$theme-h6-font-size;
          font-style: italic;
          padding: vars.$navbar-padding;
          &:not(.is-selected) {
            background: vars.$content-background-color;
            color: functions.smooth-color(vars.$content-color, 50);
            &:hover {
              background: functions.smooth-color(vars.$content-background-color,10);
              color: vars.$content-color;
            }
          }
          &.is-selected {
            background: vars.$content-background-color;
            color: vars.$content-color;
            pointer-events: none;
            user-select: none;
          }
          i {
            padding-right: 0.25rem;
          }
        }
      }
    }
  }
}
#search {
  width: vars.$navbar-search-width;
  @include bulma_mixins.touch {
    width: vars.$navbar-search-width-touch;
  }
}
#searchList {
  border-bottom: 0.25rem solid functions.smooth-color(vars.$theme-color, 20);
  border-left: 0.25rem solid functions.smooth-color(vars.$theme-color, 20);
  border-right: 0.25rem solid functions.smooth-color(vars.$theme-color, 20);
  margin: vars.$navbar-padding 0 0 0 !important;
  max-height: vars.$navbar-search-results-height;
  position: absolute;
  width: vars.$navbar-search-results-width;
  word-break: break-word;
  z-index: 10;
  @include bulma_mixins.touch {
    width: vars.$navbar-search-results-width-touch;
  }
  .search-title-result {
    background: vars.$navbar-search-title-results-background-color;
    font-weight: bold;
    &:hover {
      background: functions.smooth-color(vars.$navbar-search-title-results-background-color, 10);
    }
    .spre,
    .stitle {
      color: bulma_utilities.bulmaFindColorInvert(vars.$navbar-search-title-results-background-color);
    }
  }
  .search-result {
    background: vars.$content-background-color;
    &:hover {
      background: functions.smooth-color(vars.$content-background-color, 10);
    }
    .sleft {
      border-image: linear-gradient(to top,transparent 10%, functions.smooth-color(vars.$content-color, 50) 50%, transparent 90%) 0 1 0 0;
      border-right: 1px solid;
      color: functions.smooth-color(vars.$content-color, 50);
      flex-basis: 20%;
      font-style: italic;
      font-weight: bold;
      padding: vars.$navbar-padding;
    }
    .sright {
      color: vars.$content-color;
      font-size: 0.875rem;
      padding: vars.$navbar-padding;
    }
  }
  .spre {
    padding: vars.$navbar-padding;
  }
  strong {
    color: vars.$theme-green-color;
    font-weight: 900;
  }
  .search-delimiter {
    color: functions.smooth-color(vars.$content-background-color, 30);
    font-weight: 900;
  }
}