//
// Main
//
@media print {
  html {
    overflow-x: hidden !important;
    overflow-y: auto !important;
  }
  body {
    display: block !important;
    position: static !important;
  }
  #sidebarMobileWrapper,
  #sidebarContainer,
  #tocWrapper,
  #navbar,
  .copy-code {
    display: none !important;
  }
  #mainContainer,
  #contentContainer,
  #content {
    display: block !important;
    max-width: 100% !important;
    min-width: 100% !important;
    overflow: unset !important;
    width: 100% !important;
  }
  table:not([style]) {
    tr {
      break-inside: avoid;
    }
    thead {
      display: table-row-group;
    }
  }
}
