@use "../vars" as vars;
//
// Main
//
.os-theme-shadocs {  // The size of the scrollbar
  --os-size: vars.$scrollbar-rail-size !important;
  // The border radius of the scrollbar track
  --os-track-border-radius: vars.$scrollbar-border-radius !important;
  // The border radius of the scrollbar handle
  --os-handle-border-radius: vars.$scrollbar-border-radius !important;
  // The background of the scrollbar handle
  --os-handle-bg: vars.$scrollbar-color !important;
}