@use "../vars" as vars;
@use "extends.scss";
@use "mixins.scss" as mixins;
@use "functions.scss" as functions;
@use "../../bulma/sass/utilities" as bulma_utilities;
//
// Snippet
//
.sc-snippet-wrapper {
  flex-wrap: wrap;
  display: flex;
  .sc-snippet-input[type=radio],
  .sc-snippet-tab {
    display: none;
  }
  .sc-snippet-input[type=radio]:checked+.sc-snippet-label {
    color: bulma_utilities.bulmaFindColorInvert(vars.$content-background);
    background: vars.$content-background;
    box-shadow: unset;
    &::after {
      background: vars.$content-background;
      position: absolute;
      bottom: -1px;
      height: 1px;
      width: 100%;
      content: '';
      left: 0;
    }
    & + .sc-snippet-tab {
      display: block;
    }
  }
  .sc-snippet-input[type=radio]:not(:checked)+.sc-snippet-label:hover {
    background: functions.smooth-color(vars.$content-writing-color, 85);
  }
  .sc-snippet-label {
    border-right: 1px solid functions.smooth-color(vars.$content-writing-color, 50);
    border-left: 1px solid functions.smooth-color(vars.$content-writing-color, 50);
    border-top: 1px solid functions.smooth-color(vars.$content-writing-color, 50);
    border-radius: vars.$theme-border-radius vars.$theme-border-radius 0 0;
    background: functions.smooth-color(vars.$content-writing-color, 70);
    margin: 0 vars.$theme-gap-medium-size;
    padding: vars.$theme-gap-medium-size;
    color: vars.$content-writing-color;
    @include mixins.font-family(roboto-mono);
    max-width: max-content;
    @extend %unselectable;
    text-align: center;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    order: 1;
    flex: 1;
  }
  .sc-snippet-tab {
    padding: vars.$theme-gap-medium-size vars.$theme-gap-large-size;
    order: 2;
  }
  .sc-snippet-container {
    width: 100%;
    &.sc-snippet-tab {
      border: 1px solid functions.smooth-color(vars.$content-writing-color, 50);
    }
    .sc-snippet {
      margin: vars.$content-item-margin;
      .sc-snippet-caption {
        box-shadow: inset 0 0 1px vars.$theme-border-small-width functions.smooth-color(vars.$code-caption-color, 50);
        border-radius: vars.$theme-border-radius vars.$theme-border-radius 0 0;
        color: bulma_utilities.bulmaFindColorInvert(vars.$code-caption-color);
        padding: vars.$theme-gap-small-size 0;
        background: vars.$code-caption-color;
        @include mixins.font-family(roboto-mono);
        text-align: center;
      }
      .highlight {
        margin: 0 !important;
      }
      .sc-snippet-plaintext,
      .sc-snippet-md {
        border-bottom: 1px solid functions.smooth-color(vars.$code-caption-color, 50);
        border-right: 1px solid functions.smooth-color(vars.$code-caption-color, 50);
        border-left: 1px solid functions.smooth-color(vars.$code-caption-color, 50);
        padding: vars.$theme-gap-large-size;
      }
    }
    .sc-snippet-plaintext {
      white-space: pre-wrap;
    }
    .sc-snippet-plaintext,
    .sc-snippet-md {
      overflow: hidden;
    }
  }
}