@use "../vars" as vars;
@use "mixins.scss" as mixins;
@use "functions.scss" as functions;
@use "../../bulma/sass/utilities" as bulma_utilities;
//
// Variables
//
$collapsible-background-color: functions.smooth-color(bulma_utilities.bulmaFindColorInvert(vars.$content-background-color), 60);
//
// Main
//
.sc-collapsible-container {
  .sc-collapsible-header {
    background-color: $collapsible-background-color;
    border-radius: 0.75rem;
    border: 0.1rem solid functions.smooth-color($collapsible-background-color, 10);
    color: bulma_utilities.bulmaFindColorInvert($collapsible-background-color);
    cursor: pointer;
    padding: 0.75rem 1rem;
    user-select: none;
    &:after {
      align-self: center;
      content: '\f0fe';
      font: var(--fa-font-solid);
      padding-left: 1rem;
    }
    &:hover {
      background: functions.smooth-color($collapsible-background-color, 10);
    }
  }
  .sc-collapsible-content {
    background-color: vars.$content-background-color;
    border-bottom: 0.1rem solid functions.smooth-color($collapsible-background-color, 10);
    border-left: 0.1rem solid functions.smooth-color($collapsible-background-color, 10);
    border-right: 0.1rem solid functions.smooth-color($collapsible-background-color, 10);
    color: vars.$content-color;
    display: none;
    padding: 0.75rem 1rem;
  }
  .sc-collapsible-header.sc-uncollapsed {
    border-radius: 0.75rem 0.75rem 0 0;
    &:after {
      content: '\f146';
    }
    + .sc-collapsible-content {
      display: block;
    }
  }
}