@use "../vars" as vars;
@use "extends.scss";
@use "mixins.scss" as mixins;
@use "functions.scss" as functions;
//
// Intro
//
.sc-intro {
  @extend %unselectable;
  padding: vars.$theme-gap-medium-size vars.$theme-gap-extra-extra-large-size;
  box-shadow: inset 0 0 0 vars.$theme-border-width vars.$content-link-color;
  @include mixins.responsive-size(font-size, vars.$theme-h2-font-size, 3px);
  transition: 0.2s 0.1s cubic-bezier(.1, 0, .1, 1);
  margin: vars.$theme-gap-large-size 0;
  @include mixins.font-family(permanent-marker);
  color: vars.$content-link-color;
  display: inline-block;
  text-align: center;
  position: relative;
  font-weight: 900;
  cursor: pointer;
  &:before {
    transition: 0.2s 0.1s cubic-bezier(.1, 0, .1, 1), left 0.2s cubic-bezier(.1, 0, .1, 1);
    background-color: vars.$content-link-color;
    position: absolute;
    content: "";
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
  }
  &:after {
    width: calc(2 * (#{vars.$theme-gap-extra-extra-large-size} - #{vars.$theme-gap-large-size}));
    @include mixins.responsive-size(font-size, vars.$theme-h2-font-size, 3px);
    color: functions.shade(vars.$content-link-color, 60);
    font: var(--fa-font-solid);
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    content: "\f5b0";
    transition: 0;
    display: flex;
    margin: auto;
    opacity: 0;
    bottom: 0;
    left: 0;
    top: 0;
  }
  &:hover {
    padding: vars.$theme-gap-medium-size calc((2 * #{vars.$theme-gap-extra-extra-large-size}) - #{vars.$theme-gap-large-size}) vars.$theme-gap-medium-size vars.$theme-gap-large-size;
  }
  &:hover:before {
    left: calc(100% - (2 * (#{vars.$theme-gap-extra-extra-large-size} - #{vars.$theme-gap-large-size})));
    transition: 0.2s cubic-bezier(.1, 0, .1, 1), left 0.2s 0.1s cubic-bezier(.1, 0, .1, 1);
    right: 0;
  }
  &:hover:after {
    left: calc(100% - (2 * (#{vars.$theme-gap-extra-extra-large-size} - #{vars.$theme-gap-large-size})));
    transition: 0.2s 0.05s cubic-bezier(.1, 0, .1, 1);
    opacity: 1;
  }//
// Specific theme for intro
//
}
.introjs-overlay {
  transition: all calc(#{vars.$intro-animation-delay} + 0.1s) ease-out;
  position: absolute;
  z-index: 99;
  opacity: 0;
}
.introjs-disableInteraction {
  background-color: vars.$content-background;
  z-index: 99 !important;
  position: absolute;
  opacity: 0;
}
.introjs-relativePosition {
  position: relative;
}
.introjs-helperLayer {
  transition: all calc(#{vars.$intro-animation-delay} + 0.1s) ease-out;
  border-radius: vars.$theme-border-radius;
  position: absolute;
  z-index: 98;
}
.introjs-helperLayer {
  *:before,
  *:after,
  * {
    box-sizing: content-box;
  }
}
.introjs-tooltipReferenceLayer {
  transition: all calc(#{vars.$intro-animation-delay} + 0.1s) ease-out;
  background-color: transparent;
  color: vars.$theme-writing-color;
  box-sizing: content-box;
  @include mixins.font-family(lato);
  position: absolute;
  visibility: hidden;
  z-index: 100;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
.introjs-helperNumberLayer {
  @extend %clean;
  color: smooth-color(vars.$content-background, 20);
  padding: vars.$theme-gap-size;
  text-align: center;
}
.introjs-arrow {
  box-shadow: 0 0 vars.$theme-gap-small-half-size 0.1rem vars.$theme-color;
  border: vars.$intro-arrow-size solid vars.$content-background;
  transform: rotateZ(45deg);
  position: absolute;
  content: "";
  z-index: -1;
}
.introjs-arrow {
  &.top {
    left: vars.$intro-arrow-size;
    top: -#{vars.$intro-arrow-size};
  }
}
.introjs-arrow {
  &.top-right {
    right: vars.$intro-arrow-size;
    top: -#{vars.$intro-arrow-size};
  }
}
.introjs-arrow {
  &.top-middle {
    margin-left: -#{vars.$intro-arrow-size};
    top: -#{vars.$intro-arrow-size};
    left: 50%;
  }
}
.introjs-arrow {
  &.right {
    right: -#{vars.$intro-arrow-size};
    top: vars.$intro-arrow-size;
  }
}
.introjs-arrow {
  &.right-bottom {
    bottom: vars.$intro-arrow-size;
    right: -#{vars.$intro-arrow-size};
  }
}
.introjs-arrow {
  &.bottom {
    bottom: -#{vars.$intro-arrow-size};
    left: vars.$intro-arrow-size;
  }
}
.introjs-arrow {
  &.bottom-right {
    bottom: -#{vars.$intro-arrow-size};
    right: vars.$intro-arrow-size;
  }
}
.introjs-arrow {
  &.bottom-middle {
    margin-left: -#{vars.$intro-arrow-size};
    bottom: -#{vars.$intro-arrow-size};
    left: 50%;
  }
}
.introjs-arrow {
  &.left {
    left: -#{vars.$intro-arrow-size};
    top: vars.$intro-arrow-size;
  }
}
.introjs-arrow {
  &.left-bottom {
    bottom: vars.$intro-arrow-size;
    left: -#{vars.$intro-arrow-size};
  }
}
.introjs-tooltip {
  box-shadow: 0 0 vars.$theme-gap-small-half-size 0.1rem vars.$theme-color;
  animation: vars.$intro-animation-delay delayed;
  background-color: vars.$content-background;
  max-width: vars.$intro-tooltip-max-width;
  min-width: vars.$intro-tooltip-min-width;
  border-radius: vars.$theme-border-radius;
  animation-fill-mode: forwards;
  visibility: hidden;
  position: absolute;
}
.introjs-tooltiptext {
  padding: vars.$theme-gap-size;
  word-break: break-word;
}
.introjs-tooltip-title {
  @include mixins.responsive-size(font-size, vars.$theme-h4-font-size, 3px);
  @include mixins.font-family(oswald);
  flex-basis: 100%;
}
.introjs-tooltip-title,
.introjs-skipbutton {
  padding: vars.$theme-gap-size;
  justify-content: center;
  word-break: break-word;
  align-items: center;
  text-align: center;
  font-weight: 700;
  display: flex;
}
.introjs-skipbutton {
  @extend %clean;
  @include mixins.responsive-size(font-size, vars.$theme-h1-font-size, 3px);
  color: vars.$theme-writing-color;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover,
  &:focus {
    color: vars.$intro-skipbutton-color;
  }
}
.introjs-tooltip-header,
.introjs-tooltipbuttons {
  display: flex;
}
.introjs-tooltipbuttons {
  justify-content: space-between;
  &:not(:empty) {
    border-top: vars.$theme-border-small-width solid functions.smooth-color(vars.$content-background, 10);
  }
}
.introjs-button {
  @extend %clean;
  border: vars.$theme-border-small-width solid functions.smooth-color(vars.$content-background, 15);
  background-color: functions.smooth-color(vars.$content-background, 10);
  padding: vars.$theme-gap-small-size vars.$theme-gap-medium-size;
  border-radius: vars.$theme-border-radius;
  color: vars.$theme-writing-color;
  margin: vars.$theme-gap-size;
  justify-content: center;
  word-break: break-word;
  @include mixins.font-family(oswald);
  align-items: center;
  text-align: center;
  font-weight: 700;
  flex-basis: 50%;
  cursor: pointer;
  display: flex;
  &.active,
  &:hover {
    background-color: functions.smooth-color(vars.$content-background, 15);
  }
}
.introjs-prevbutton {
  float: left;
}
.introjs-nextbutton {
  float: right;
}
.introjs-disabled,
.introjs-disabled:hover,
.introjs-disabled:focus {
  background-color: functions.smooth-color(vars.$content-background, 5);
  border-color: functions.smooth-color(vars.$content-background, 10);
  color: functions.smooth-color(vars.$content-background, 20);
  cursor: not-allowed;
  box-shadow: none;
}
.introjs-hidden {
  display: none;
}
.introjs-bullets {
  margin: vars.$theme-gap-size;
  text-align: center;
  ul {
    display: inline-block;
    margin: 0 auto 0;
    clear: both;
    padding: 0;
    li {
      margin: 0 vars.$theme-gap-small-half-size;
      list-style: none;
      float: left;
      a {
        @extend %clean;
        background: functions.smooth-color(vars.$content-background, 15);
        border-radius: vars.$theme-border-radius;
        height: vars.$theme-gap-medium-size;
        width: vars.$theme-gap-medium-size;
        transition: width 0.1s ease;
        cursor: pointer;
        display: block;
        &.active,
        &:hover,
        &:focus {
          width: vars.$theme-gap-large-size;
          background: functions.smooth-color(vars.$content-background, 50);
        }
      }
    }
  }
}
.introjs-progress {
  background-color: functions.smooth-color(vars.$content-background, 15);
  border-radius: vars.$theme-border-radius;
  height: vars.$theme-gap-medium-size;
  margin: vars.$theme-gap-size;
  overflow: hidden;
  .introjs-progressbar {
    background-color: vars.$intro-progressbar-color;
    height: 100%;
    width: 0%;
  }
}
.introjsFloatingElement {
  position: absolute;
  height: 0;
  left: 50%;
  width: 0;
  top: 50%;
}
.introjs-fixedTooltip {
  position: fixed;
}