@use '../vars' as vars;
@use 'functions.scss' as functions;
@use '../../bulma/sass/utilities' as bulma_utilities;
//
// Main
//
.notification:not(.banner) {
  position: relative;
  &:before {
    align-items: center;
    color: var(--bulma-body-background-color);
    content: '\f05a';
    display: flex;
    font: var(--fa-font-solid);
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 2.5rem;
  }
  &.is-success {
    &:before {
      content: '\f058';
    }
  }
  &.is-warning {
    &:before {
      content: '\f06a';
    }
  }
  &.is-danger {
    &:before {
      content: '\f057';
    }
  }
}
