@use '../vars' as vars;
@use 'mixins.scss' as mixins;
@use 'functions.scss' as functions;
@use '../../bulma/sass/utilities' as bulma_utilities;
//
// Variables
//
$taxonomies-body-background-color: vars.$theme-color;
$taxonomies-header-background-color: functions.smooth-color(
  vars.$theme-color,
  15
);
$terms-background-color: vars.$theme-color;
$terms-padding: vars.$content-padding;
$terms-border-width: 0.25rem;
$terms-header-underline-height: 0.25rem;
$terms-header-pointer-size: 0.5rem;
//
// Main
//
#taxonomyGrid {
  .message-header {
    background-color: $taxonomies-header-background-color;
    color: functions.smooth-color(
      bulma_utilities.bulmaFindColorInvert($taxonomies-header-background-color),
      20
    );
  }
  .message-body {
    background-color: $taxonomies-body-background-color;
    color: functions.smooth-color(
      bulma_utilities.bulmaFindColorInvert($taxonomies-body-background-color),
      20
    );
  }
}
.tabs-container {
  .tabs-triggers {
    @include mixins.font-family(oswald);
    ul {
      li {
        padding: 0 $terms-padding;
        a {
          color: var(--bulma-text-weak);
          height: 100%;
          padding: $terms-padding;
          position: relative;
          transition: all 0.3s;
          width: 100%;
          z-index: 0;
          &:before {
            background: var(--bulma-text-weak);
            bottom: 0;
            content: '';
            height: $terms-header-underline-height;
            left: 0;
            position: absolute;
            transition: all 0.3s;
            width: 100%;
            z-index: -1;
          }
          &:after {
            border: $terms-header-pointer-size solid transparent;
            border-top-color: $terms-background-color;
            bottom: calc(-2 * $terms-header-pointer-size);
            content: '';
            height: 0;
            left: 0;
            margin: auto;
            opacity: 0;
            position: absolute;
            right: 0;
            transition: all 0.3s;
            width: 0;
          }
          &:hover {
            color: $terms-background-color;
            &:before {
              background: $terms-background-color;
            }
            &:after {
              opacity: 1;
            }
          }
          &.is-active {
            color: bulma_utilities.bulmaFindColorInvert(
              $terms-background-color
            );
            &:before {
              background: $terms-background-color;
              height: 100%;
            }
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .tabs-results {
    padding: $terms-padding;
    .tabs-results-list {
      display: none;
      padding: 0 calc($terms-padding + $terms-border-width);
      position: relative;
      &:before {
        background: $terms-background-color;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: $terms-border-width;
      }
      &.is-active {
        display: block;
      }
      .tabs-title {
        padding-top: calc($terms-padding - $terms-border-width);
      }
    }
  }
}
