#
# Standard configuration
#
baseURL                = "https://example.com"
copyright              = "The MIT License (MIT) Copyright © 2020 Jordan GAZEAU"
defaultContentLanguage = "en"
enableEmoji            = false
enableGitInfo          = true
metaDataFormat         = "yaml"
publishDir             = "public"
title                  = "Shadocs theme for Hugo"
themesdir              = "../.."
ignoreLogs             = ['warning-goldmark-raw-html']

[params.author]
  name = "Jordan GAZEAU"

[module]
  [module.hugoVersion]
    extended = true
    min = '0.141.0'
    max = '0.154.5'
  [[module.mounts]]
    source = 'asciinema'
    target = 'static/asciinema'
  [[module.mounts]]
    source = 'assets'
    target = 'static/assets'
  [[module.mounts]]
    source = 'asyncapi'
    target = 'static/asyncapi'
  [[module.mounts]]
    source = 'jsoneditor'
    target = 'static/jsoneditor'
  [[module.mounts]]
    source = 'openapi'
    target = 'static/openapi'
  [[module.imports]]
    path = 'github.com/jgazeau/shadocs'

[taxonomies]
  category = "categories"
  tag = "tags"

[outputs]
  home = ["HTML", "JSON"]

[markup]
  defaultMarkdownHandler = "goldmark"
  [markup.tableOfContents]
    ordered    = false
    startLevel = 1
    endLevel   = 6
  [markup.goldmark.renderer]
    unsafe = false

[Languages]
  [Languages.en]
    contentDir   = "content/english"
    title        = "Shadocs theme documentation"
    weight       = 1
    languageName = "English"

  [Languages.fr]
    contentDir   = "content/french"
    title        = "Documentation du thème Shadocs"
    weight       = 2
    languageName = "Français"

#
# Specific configuration
#
[params]
  logo                    = "images/logo.png"
  logoTouch               = "images/logoTouch.png"
  image404                = "images/404.gif"
  favicon                 = "images/favicon.png"
  faviconmd               = "![Favicon](/images/favicon.png)"
  homeLayout              = "onboarding"
  siteContentOrder        = "weight"
  # toc                     = true
  # globalBanner            = true
  currentVersion          = "latest"
  latestVersionUrl        = "https://jgazeau.github.io/shadocs/"
  # enforceRefrelLinks      = true
  # navbarPrintEntry        = false
  # navbarQRCodeEntry       = false
  # navbarSchortcutsEntry   = false
  # navbarInfo              = false
  [params.navbar.shortcuts]
    [params.navbar.shortcuts.example]
      keys     = ["Shift","1"]
      function = "scExample"
  [[params.navbar.versions]]
    name = 'latest'
    url  = 'https://jgazeau.github.io/shadocs/'
  [[params.navbar.versions]]
    name = 'deprecated version'
    url  = 'https://jgazeau.github.io/shadocs/404.html'
  [params.taxonomies]
    [params.taxonomies.categories]
      icon = "fa-solid fa-table-cells"
    [params.taxonomies.tags]
      icon = "fa-solid fa-tag"
  [params.includes]
    jsModules = [
      "js/jsoneditor.js",
      "js/shortcuts.js"
    ]
    js        = []
    css       = [
      "css/shortcuts.css"
    ]
    scss      = [
      "scss/example.scss"
    ]
  [params.versions]
    hugo_min         = "[0.141.0](https://github.com/gohugoio/hugo/releases/tag/v0.141.0)"
    bulma            = "[1.0.4](https://github.com/jgthms/bulma/releases/tag/1.0.4)"
