@use "theme_variables.scss" as theme_variables;
//
// Bulma variables override
//
$card-header-padding: theme_variables.$theme-gap-medium-size theme_variables.$theme-gap-small-size;
$card-header-shadow: none;
$card-shadow: none;
$card-background-color: transparent;
$control-height: 2.25rem;
$menu-item-hover-background-color: transparent;
$message-background-color: hsl(0, 0%, 90%);
$message-radius: 0;
$message-header-radius: 0;
$message-header-background-color: theme_variables.$theme-color;
$message-header-color: theme_variables.$theme-white-color;
$message-header-body-border-width: 1px;
$message-header-padding: theme_variables.$theme-gap-size theme_variables.$theme-gap-large-size;
$message-body-radius: 0;
$message-body-color: theme_variables.$theme-writing-color;
$message-body-border-color: theme_variables.$theme-color;
$message-body-border-width: 1px;
$message-body-padding: $message-header-padding;
$tabs-border-bottom-color: darkred;
$tabs-link-color: darkred;
$tabs-link-active-color: theme_variables.$theme-color;
$tabs-link-hover-color: theme_variables.$theme-white-color;
$tabs-boxed-link-radius: theme_variables.$theme-border-radius;
$tabs-boxed-link-hover-background-color: darkred;
$tabs-boxed-link-hover-border-bottom-color: darkred;
$tabs-boxed-link-active-background-color: theme_variables.$theme-white-color;
$tabs-boxed-link-active-border-color: darkred;
$tabs-boxed-link-active-border-bottom-color: theme_variables.$theme-white-color;