//
// Main
//
$theme-color-h: 200;
$theme-color-s: 100%;
$theme-color-l: 15%;
$theme-color: hsl($theme-color-h, $theme-color-s, $theme-color-l);
$theme-color-404: hsl(120, 50%, 60%);
$theme-content-spacing: 1rem;
$theme-control-height: 2.25rem;
$theme-icon-size: 1.375rem;
$theme-h1-font-size: 1.625rem;
$theme-h2-font-size: 1.5rem;
$theme-h3-font-size: 1.375rem;
$theme-h4-font-size: 1.25rem;
$theme-h5-font-size: 1.125rem;
$theme-h6-font-size: 1rem;
$theme-blue-color: deepskyblue;
$theme-blue-darker-color: steelblue;
$theme-green-color: limegreen;
$theme-green-darker-color: darkgreen;
$theme-red-color: red;
$theme-red-darker-color: darkred;
