@use "theme_variables.scss" as theme_variables;
@use "bulma_variables.scss" as bulma_variables;
@use "../utils/functions.scss" as functions;
@use "../../bulma/sass/utilities" as bulma_utilities;
@use "../../bulma/sass/components/navbar.scss" as bulma_navbar;
//
// Content variables
//
$content-background: bulma_utilities.bulmaFindColorInvert(theme_variables.$theme-writing-color);
$content-blockquote-color: steelblue;
$content-box-shadow: 1px 1px 3px 0 functions.smooth-color($content-background, 25);
$content-code-color: theme_variables.$theme-color;
$content-footnote-color: steelblue;
$content-font-size: 1rem;
$content-list-padding: 1.25rem;
$content-link-color: dodgerblue;
$content-table-color: steelblue;
$content-writing-color: theme_variables.$theme-writing-color;
$content-item-margin: theme_variables.$theme-gap-medium-size 0;
$banner-background: hsl(50, 90%, 80%);
$banner-border-color: hsl(50, 80%, 50%);
//
// Helper variables
//
$helper-loading-color: mediumseagreen;
//
// Modal variables
//
$modal-max-height: 75%;
$modal-width: 75%;
//
// Navbar variables
//
$navbar-item-padding: calc((#{bulma_navbar.$navbar-height} - #{bulma_navbar.$navbar-height}) / 2);
$navbar-search-width: 250px;
$navbar-search-width-mobile: 150px;
$navbar-search-results-height: 40svh;
$navbar-search-results-width: 60vw;
$navbar-search-results-width-touch: 80vw;
$navbar-search-title-color: bulma_utilities.$grey-dark;
$navbar-search-highlight-color: steelblue;
//
// Sidebar variables
//
$sidebar-background: bulma_utilities.$grey-darker;
$sidebar-entry-height: calc(#{theme_variables.$theme-icon-size} + (2 * #{theme_variables.$theme-gap-medium-size}));
$sidebar-font-size: 1rem;
$sidebar-width: 300px;
$sidebar-width-collapsed: calc((#{$sidebar-width} / 10) + (4 * #{theme_variables.$theme-gap-small-size}) + (2 * #{theme_variables.$theme-gap-medium-size}));
//
// Scrollbar variables
//
$scrollbar-border-radius: 0;
$scrollbar-color: functions.smooth-color($sidebar-background, 20);
$scrollbar-color-hover: functions.smooth-color($sidebar-background, 30);
$scrollbar-color-action: functions.smooth-color($sidebar-background, 40);
$scrollbar-rail-size: 0.5rem;
//
// Toc variables
//
$toc-font-size: 0.875rem;
$toc-padding: 0 0 0 theme_variables.$theme-gap-medium-size;
$toc-width: 275px;
$toc-collapsible-width: 25px;
$toc-taxonomy-color: silver;
$toc-taxonomy-color-hover: functions.smooth-color(theme_variables.$theme-color, 20);
$toc-taxonomy-border-color: functions.smooth-color($content-writing-color, 80);
$toc-taxonomy-collapsible-color: functions.smooth-color($content-writing-color, 80);
$toc-taxonomy-collapsible-color-hover: functions.smooth-color($toc-taxonomy-collapsible-color, 10);
//
// Shortcodes variables
//
$alert-info-color: paleturquoise;
$alert-success-color: lightgreen;
$alert-warning-color: khaki;
$alert-error-color: lightcoral;
$code-caption-color: silver;
$collapsible-color: powderblue;
$intro-arrow-size: 0.3125rem;
$intro-animation-delay: 0.4s;
$intro-progressbar-color: mediumseagreen;
$intro-skipbutton-color: firebrick;
$intro-tooltip-min-width: 250px;
$intro-tooltip-max-width: 350px;
$json-editor-color: steelblue;
$json-editor-add-color: darkgreen;
$json-editor-delete-color: darkred;
$json-editor-move-color: steelblue;
$json-editor-success-color: darkgreen;
$mermaid-label-font-size: 0.875rem;
$treeview-icon-color: darkgreen;