{{- with .Parent -}}
  {{- $content := slice -}}
  {{- with (trim $.Inner "\r\n ") -}}
    {{- $content = $content | append . -}}
  {{- else -}}
    {{- $content = $content | append "" -}}
  {{- end -}}
  {{- with $.Parent.Scratch.Get "tabsContent" -}}
    {{- $.Parent.Scratch.Set "tabsContent" (. | append $content) -}}
  {{- else -}}
    {{- $.Parent.Scratch.Set "tabsContent" $content -}}
  {{- end -}}
  {{- $tempTitle := ($.Get "title" | default (i18n "no_title")) -}}
  {{- with $.Parent.Scratch.Get "tabsTitle" -}}
    {{- $.Parent.Scratch.Set "tabsTitle" (. | append $tempTitle) -}}
  {{- else -}}
    {{- $.Parent.Scratch.Set "tabsTitle" (slice $tempTitle) -}}
  {{- end -}}
{{- end -}}
