<div class="sc-asyncapi-wrapper is-loading helper-loading-container">
  {{- .Page.Scratch.Add "asyncapiUid" 1 -}}
  {{- with (.Get "id") -}}
    {{- $.Scratch.Set "asyncapiId" (replace . "'" "") -}}
  {{- else -}}
    {{- $.Scratch.Set "asyncapiId" (printf "%s%s" "asyncapi-" (string (.Page.Scratch.Get "asyncapiUid"))) -}}
  {{- end -}}
  <asyncapi-component
    asyncapi-id="{{- $.Scratch.Get "asyncapiId" -}}"
    schemaUrl="{{- .Get "source" -}}"
    schemaFetchOptions='{"method":"GET","mode":"cors"}'
    cssImportPath="{{- "css/external/asyncapi/fiori.min.css" | relURL -}}"
  >
  </asyncapi-component>
  {{- partial "theme/loading.html" -}}
</div>
