<div class="sc-highcharts-wrapper is-loading helper-loading-container">
  {{- with not (.Get "id") -}}
    {{- errorf "Highcharts id must be set in highcharts shortcode in %q" $.Page.RelPermalink -}}
  {{- end -}}
  {{- with .Get "assets" -}}
    {{- $.Page.Scratch.Add "highchartsAssets" (split . ",") -}}
  {{- else -}}
    {{- $.Page.Scratch.Add "highchartsAssets" (slice "js/external/highcharts/highcharts.min.js") -}}
  {{- end -}}
  {{- with resources.GetRemote ($.Get "source") -}}
    {{- with .Err -}}
      {{- with resources.Get ($.Get "source") -}}
        {{- $.Page.Scratch.Add "highchartsContent" (slice .Content) -}}
      {{- end -}}
    {{- else -}}
      {{- $.Page.Scratch.Add "highchartsContent" (slice .Content) -}}
    {{- end -}}
  {{- end -}}
  <div class="sc-highcharts-container" id="{{- .Get "id" -}}"></div>
  {{- partial "theme/loading.html" -}}
</div>
