{{with .Parent}}
  {{.Scratch.Set "isNestedShortcode" true}}
{{else}}
  {{.Scratch.Set "isNestedShortcode" false}}
{{end}}
{{$content := ""}}
{{$optMd := dict "markup" "goldmark"}}
{{$caption := .Get "caption"}}
{{$codelang := .Get "codelang"}}
{{$codeparam := .Get "codeparam"}}
{{$snippetHtmlCodeHead := "<div class='sc-snippet-container'>" | safeHTML}}
{{$snippetHtmlCodeEnd := "</div>" | safeHTML}}
{{with .Get "file"}}
  {{if eq ($.Get "type") "md"}}
    {{$snippetHtmlCodeHead}}
    {{readFile . | $.Page.RenderString $optMd}}
    {{$snippetHtmlCodeEnd}}
  {{else if eq ($.Get "type") "plaintext"}}
    {{$snippetHtmlCodeHead}}
    <div class='sc-snippet-plaintext'>{{readFile . | safeHTML}}</div>
    {{$snippetHtmlCodeEnd}}
  {{else}}
    {{$content = (readFile .)}}
  {{end}}
{{else}}
  {{with .Inner}}
    {{$content = (trim . "\r\n")}}
  {{end}}
{{end}}
{{with $content}}
  {{$snippetHtmlCodeHead}}
  {{with $caption}}
    <div class='sc-snippet'>
      <div class='sc-snippet-caption'>{{$caption}}</div>
      {{printf "%s%s {%s}\n%s\n%s\n" "~~~" $codelang $codeparam $content "~~~" | $.Page.RenderString $optMd}}
    </div>
  {{else}}
    {{printf "%s%s {%s}\n%s\n%s\n" "~~~" $codelang $codeparam $content "~~~" | $.Page.RenderString $optMd}}
  {{end}}
  {{$snippetHtmlCodeEnd}}
{{end}}