//
// Bulma variables override
//
$card-header-padding: $theme-gap-medium-size $theme-gap-small-size
$card-header-shadow: none
$card-shadow: none
$card-background-color: transparent
$control-height: 2.25rem
$menu-item-hover-background-color: transparent
$message-background-color: hsl(0, 0%, 90%)
$message-radius: 0
$message-header-radius: 0
$message-header-background-color: $theme-color
$message-header-color: $theme-white-color
$message-header-body-border-width: 1px
$message-header-padding: $theme-gap-size $theme-gap-large-size
$message-body-radius: 0
$message-body-color: $theme-writing-color
$message-body-border-color: $theme-color
$message-body-border-width: 1px
$message-body-padding: $message-header-padding
$tabs-border-bottom-color: darkred
$tabs-link-color: darkred
$tabs-link-active-color: $theme-color
$tabs-link-hover-color: $theme-white-color
$tabs-boxed-link-radius: $theme-border-radius
$tabs-boxed-link-hover-background-color: darkred
$tabs-boxed-link-hover-border-bottom-color: darkred
$tabs-boxed-link-active-background-color: $theme-white-color
$tabs-boxed-link-active-border-color: darkred
$tabs-boxed-link-active-border-bottom-color: $theme-white-color